/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @font-face {
  font-family: 'Montserrat', sans-serif;;
  src: url();
} */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a:focus{
  outline: none
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

:root{
  --orange:#FF9900;
  --lignt-orange:#FFB84D;
  --dark-orange:#E1670E;
  --green:#97EE3F;
  --white:#fff;
  --grey-one:#CACACA;
  --grey-two:rgba(0, 0, 0, 0.5);
  --grey:#666666;
  --grey-three:#414141;
  --black:#000;
}
body{
  background-color: #E5E5E5;
  min-width: 320px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  overflow: auto;
}
ul{
  list-style: none;
}
.continer {
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
}
.header {
  position:sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  max-height: 100px;
  margin-bottom: 50px;
  padding: 0 75px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background: var(--white);
  z-index: 5;
}
.burger{
  width: 40%;
  margin-left: auto;
}
.burger__button{
  display: none;
}
.--hidden{
  visibility: hidden;
  height: 0;
}
.header__logo svg{
  margin-right: auto;
}
.header__nav {
  /* margin-left: auto; */
  width: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2px;
}
.header__element {
  position: relative;
  /* margin-right: 85px;  */
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
/* identical to box height */
  color: var(--black);
  cursor: pointer;
}
.header__element:last-child{
  margin-right: 0;
}

.header__link:active{
  color: var(--dark-orange);
}
.header__link:active::after{
  border-bottom: 2px solid var(--dark-orange);
}
.header__link{
  text-decoration: none;
  color: var(--black);
}
.header__link:focus{
  outline: none;
}
.header__link:focus:after{
  border: 2px solid var(--orange);
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  top: -7px;
  left: -7px;
}
.header__link::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 7px);
  -webkit-transition: border 0.2s ease-in-out,color 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out,color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out,color 0.2s ease-in-out;
}

.header__link:hover:after{
  border-bottom: 2px solid var(--orange);
}

.search{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 0;
  width: 15.4%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  max-width: 539px;
}
.search input{
  width: 90%;
  height: 100%;
  border: none;
  display: none;
}
.search .search__button{
  display: block;
  position:relative;
  cursor: pointer;
  stroke:var(--black);
  background: none;
  border: none;
}
.search__button:hover{
  stroke: var(--orange);
}
.search__button::after{
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.search__button:focus{
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: "";
  outline: none;
  border: 2px solid orange;
  stroke: var(--black);
}

.search--active{
  position: relative;
  max-width: 539px;
  width: 100%;
  height: 100%;
  max-height: 60px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  -webkit-transform: translate(57px, 0);
      -ms-transform: translate(57px, 0);
          transform: translate(57px, 0);
}

.search--active input{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
  background: var(--white);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  border-radius: 24px;
  padding:16px 32px ;
  outline: none;
  border-bottom: 1px solid var(--grey-one);
}
.search--active input::-webkit-input-placeholder{
  border-bottom: 1px solid var(--grey-one);
  width: 80%;
}
.search--active input::-moz-placeholder{
  border-bottom: 1px solid var(--grey-one);
  width: 80%;
}
.search--active input:-ms-input-placeholder{
  border-bottom: 1px solid var(--grey-one);
  width: 80%;
}
.search--active input::-ms-input-placeholder{
  border-bottom: 1px solid var(--grey-one);
  width: 80%;
}
.search--active input::placeholder{
  border-bottom: 1px solid var(--grey-one);
  width: 80%;
}

.search--active .search__button{
  position: absolute;
  top: 50%;
  right: 57px;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  stroke:var(--orange);
}
.search .search__cancel{
  display: none;
  background: none;
  border: none;
}
.search--active .search__cancel{
  position: absolute;
  display: block;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.main {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin-bottom: 100px;
}
.hero {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.swiper{
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background: var(--grey-one);
}
.swiper-pagination-bullet-active{
  background: var(--white);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 20px
}
.swiper__img{
  position: relative;
  width: 100%;
  height: 620px;
  border-radius: 32px;
}
.swiper__text{
  position: absolute;
  width: 900px;
  top: 0;
  bottom: 0;
  height: 100%;
  padding-left: 80px;
}
.swiper__title {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}
.swiper__disc {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  color: #FFFFFF;
}
.swiper__button {
  position: absolute;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */
  bottom: calc(100% / 6);
  text-align: center;
}
.btn {  
  color: var(--white);
  background:var(--orange);
  border-radius: 16px;
  border: 1px solid var(--orange);
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out,border .2s ease-in-out;
  -o-transition: background .2s ease-in-out,border .2s ease-in-out;
  transition: background .2s ease-in-out,border .2s ease-in-out;
}

.btn:hover, .btn:focus{
  background: var(--lignt-orange);
  border: 1px solid var(--lignt-orange);
}
.btn:active{
  background: var(--dark-orange);
  border: 1px solid var(--dark-orange);

}
.swiper__dots {
  position: absolute;
  top:93%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);

}
.dot-active {

}
.dot {
  margin-right: 20px;
  cursor: pointer;
}
.dot:last-child{
  margin-right: 0;
}
.about-us {
  margin-bottom: 100px;
}
.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 20px;
}
.how-we-work__title{
  margin-bottom: 50px;
}
.about-us__content {
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
  margin-bottom: 50px;
}
.about-us__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/big-card.png") no-repeat;
  background-size: cover;
  min-height: 622px;
  max-width: 868px;
  width: 100%;
  margin-right: 32px;
  border-radius: 32px;
}
.big-card__disc {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
}
.big-card__text {
  max-width: 450px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color:var(--white)
}
.big-card__button {
  background: none;
  color: var(--white);
  border: 3px solid var(--orange);
  padding: 20px 38px;
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.big-card__button:hover, .big-card__button:focus{
  background: var(--orange);
}
.big-card__button:focus{
  background: var(--dark-orange);
  border: 3px solid var(--dark-orange);

}
.about-us__two-cards {
  width: 100%;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  width: 100%;
  border: 1px solid var(--grey-one);
  padding:60px;
  border-radius: 32px;
}
.card:last-child{
  margin-bottom: 0;
}
.card__text {
  max-width: 480px;
}
.card__image{
  margin-right: 50px;
}
.card__image320{
  display: none;
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.card__disc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.how-we-work {
  margin-bottom: 111px;
}
.how-we-work__steps {
  margin-bottom: 45px;
}
.how-we-work__steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step-number  {
  position: relative;
  display: inline-block;
  margin-right: 86px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  
}

.step-number span:hover{
  color: orange;
}
.step-number span::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.step-number span:focus{
  outline: none;
}
.step-number span:focus::after{
  border: 2px solid var(--orange);
}
.step-number--active{
  color: var(--dark-orange);
}
.step-number__link {
  /* color: var(--dark-orange); */
}
.step {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step--active{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step__disc {
  max-width: 740px;
  width:50%
}
.step__title {
  margin-bottom: 8px;
}
.step__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
  margin-bottom: 18px;
  min-width: 400px;
}
.step__button {
  padding: 20px 38px;
  margin-right: 32px;
}
.step__button:last-child{
  margin-right: 0;
}
.btn-dark{
  background: none;
  border-radius: 16px;
  border: 1px solid var(--black);
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
}
.btn-dark:hover, .btn-dark:focus{
  background: var(--grey);
  border:var(--grey);
  color: var(--white);
}
.btn-dark:active{
  background: var(--black);
  border:var(--black);
  color: var(--white);
}
.step__image {
  width: 100%;
  height: 100%  ;
}
.faq {
}
.faq__questions {
}
.faq__title{
  margin-bottom: 32px;
}
.quest {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid var(--grey-one);
  border-bottom: 1px solid var(--grey-one);
  border-collapse: collapse;
  margin:-1px 0 -1px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;  
  -webkit-transition: background .2s ease-in-out;  
  -o-transition: background .2s ease-in-out;  
  transition: background .2s ease-in-out;

}
.quest:last-child{
  border-bottom: 1px solid var(--grey-one);
}
.quest:hover,.quest:focus{
  color: var(--orange);
  border-top: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
  z-index: 1;
}
.quest:hover>.quest__quest>.quest__button,.quest:focus>.quest__quest>.quest__button {
  background: var(--orange);
}
.quest:hover>.quest__quest>.quest__button::after,.quest:hover>.quest__quest>.quest__button::before,
.quest:focus>.quest__quest>.quest__button::after,.quest:focus>.quest__quest>.quest__button::before  {
  background: var(--white);
}
.quest__quest{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* .quest__title::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.quest__title {
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
.quest__button {
  position: relative;
  background-color: var(--grey-one);
  width: 50px;
  height: 50px;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
.quest__button::after,.quest__button::before{
  position: absolute;
  content: "";
  width: 31px;
  height: 1px;
  background: var(--black);
  top: 45%;
  left: 20%;
  /* transform: translate(-50%,-50%);  */
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}
.quest__button::after{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  
}
.quest--active{
  color: var(--black);
  border-top: 1px solid var(--grey-one);
  border-bottom: 1px solid var(--grey-one);
}
.quest__button--active{
  background: var(--grey-one);
}
.quest__button--active::after{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--black);
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}
.quest__button--active::before{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: var(--black); 
  -webkit-transition: -webkit-transform .2s ease-in; 
  transition: -webkit-transform .2s ease-in; 
  -o-transition: transform .2s ease-in; 
  transition: transform .2s ease-in; 
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}
.quest__answer{
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow:hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}
.quest__answer--active{
  margin-top: 30px;
  visibility: visible;
  height: auto;
  opacity: 1;
  overflow:visible;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 594px;
  background: var(--black);
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey-one);
  padding: 50px 75px;
}
.footer__logo{
  margin-bottom: 8px;
}
.footer__links {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links-list {
}
.links {
}
.link {
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__link{
  text-decoration: none;
  color: var(--grey-one);
}
.footer__link:hover{
  color: var(--orange);
}
.footer__link::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
.footer__link:focus{
  color: var(--grey-one);
}
.footer__link:focus::after{
  border: 2px solid var(--orange);
}
.footer__link:active{
  color: var(--dark-orange);
}
.footer__socials {
  margin-bottom: -5px;
}
.social {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
.social__image  {
  fill: #666;
}
.social:hover .social__image {
  fill: var(--orange);
}
.social:focus::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height:100%;
  outline: none;
  border: 2px solid var(--orange);
  padding: 2px;
}
.social:active .social__image{
  fill: var(--dark-orange);
}
.social:last-child{
  margin-right: 0;
}
.form {
  max-width: 570px;
  width: 100%;
  margin-left: 6%;
}
.form__field{
  color: var(--grey-one);
  margin-bottom: 25px;
  padding: 19px 24px;
  border-radius: 16px;
  border: 0px;
  outline: 0px;
  background: var(--grey-three);
}
.form__field:nth-child(3){
  margin-bottom: 32px;
  height: 150px;
  width: 100%;
}
.form__field:hover,.form__field:focus,.form__field:active{
  background: var(--grey);
}
.form__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color:var(--grey-one);
  margin-bottom: 25px;
}
.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__btn{
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.agree{

}
::-webkit-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-one);
}
.form__checkbox{
  display: none;
}

.label { /* Стиль лэйбла чекбокса */
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 1px;
  margin-left: 5px;
  }
  .form__checkbox-ico { /* Иконка чекбокса */
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey-one);
  border-radius: 2px;
  }
  .form__checkbox-ico::before{
    content: url("../img/Klassnoe_reshenie_spasibo_vkusno_poel.svg");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    /* top:0;
    bottom: 0; */
    opacity: 0;
  }
  .form__checkbox:checked + .form__checkbox-ico::before { /* Смена иконки при нажатии на чекбокс */
    opacity: 1;
  }

.label__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.footer__disc {
  width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
@media(max-width:1280px) {

  .card__image{
    margin-right: 10px;
    width: 200%;
  }
  .header__element{
    margin-right: 10px; ;
  }
}

@media(max-width:1024px){
  .continer{
    max-width: 924px;
  }
  .main{
    margin-bottom: 78px;

  }
  .header{
    padding: 0 50px;
    margin-bottom: 40px;
  }
  .burger {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: auto;
    margin-left: 0;
    -webkit-transition: left .2s ease-in-out 0s;
    -o-transition: left .2s ease-in-out 0s;
    transition: left .2s ease-in-out 0s;
    left: -100%;
  }
  .burger.burger--active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 38px;
    padding-left: 50px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 420px;
    width: 100%;
    z-index: 5;
    background: var(--white);
    border-radius: 0px 0px 32px 32px;  
  }
  .burger.burger--active>.header__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    overflow: visible;
  }
  .header__element{
    display: block;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger__button {
    display: block;
    z-index: 3;
    position: relative;
    width: 30px;
    height: 23px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out ;
    -o-transition: all .2s ease-in-out ;
    transition: all .2s ease-in-out ;
    z-index: 5;
  }
  .burger__button span,
  .burger__button::after,
  .burger__button::before{
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--black);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;

  }
  .burger__button::after,
  .burger__button::before{
    content: "";
  }
  .burger__button span{
    top: 50%;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
  }
  .burger__button::after{
    bottom: 0;
  }
  .burger__button::before{
    top: 0;
  }

  .burger__button.burger__button--open span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  
  .burger__button.burger__button--open::after{
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0,50%);
        -ms-transform: rotate(45deg) translate(0,50%);
            transform: rotate(45deg) translate(0,50%);
  }
  .burger__button.burger__button--open::before{
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0,-50%);
        -ms-transform: rotate(-45deg) translate(0,-50%);
            transform: rotate(-45deg) translate(0,-50%);
  }
  .burger--active.header__nav{
    display: block;
  }

  .header__logo svg{
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .header__nav{
    height: 0;
    overflow: hidden;
    }


  .search--active{
    -webkit-transform: translate(40px, 0);
        -ms-transform: translate(40px, 0);
            transform: translate(40px, 0);
  }
  .hero{
    margin-bottom: 35px;
  }
  .swiper__title{
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-top: 160px;
  }
  .swiper__text{
    width: auto;
  }
  .swiper__disc{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    width: 660px;
  }
  .swiper__img{
    height: 668px;
  }
  .swiper__button{
    position: unset;
    margin-top: 60px;
  }
  .about-us{
    margin-bottom: 80px;
  }
  .about-us__cards{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .about-us__two-cards{
      width: 100%;
    }
  .about-us__content{
    margin-bottom: 60px;
  }
  .big-card{
    margin-bottom: 32px;
    background: url("../img/big-cardx1024.png") no-repeat;
    max-width: none;
    height: 635px;
    margin-right:0;
  }
  .big-card__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  .card{
    padding: 65px 77px;
  }
  .card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .card__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .card__image{
    width: auto;
    margin-right: 50px;
  }
  .how-we-work{
    margin-bottom: 80px;
  }
  .how-we-work__steps{
    margin-bottom: 50px;
  }
  .step{
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .step__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .step__disc{
    width:50%;
    max-width: 437px;
  }
  .step__text{
    min-width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  .step__image{
    width: 100%;
    height: 100%;
  }
  .quest{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }
  .quest__title{
    width: 90%;
    max-width: 756px;
  }
  .footer{
    padding:50px ;
  }
  .footer__disc{
    display: none;
  }
  .links{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
  }
  .footer__btn{
    padding: 19px 38px;
  }
  .form{
    max-width: 541px;
  }
}
@media (max-width:768px){
  .main{
    margin-bottom: 111px;
  }
  .continer{
    max-width: 668px;
  }
  .header{
    height: 69px;
  }

.__hide{
  display: none;
}

  .search.search--active~.header__logo svg{
    display: none;
  }
  .swiper__img {
    height: 662px;
  }
  .swiper__text{
    padding: 0px 40px;
  }
  .swiper__title{
    margin-top: 160px;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }
  .swiper__disc{
    width: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  .swiper__button{
    margin-top: 58px;
  }
  .about-us__content{
    max-width: 668px;
    margin-bottom: 50px;
  }
  .big-card{
    background: url("../img/big-cardx768.png") no-repeat;
    height: 650px;
  }
  .big-card__disc{
    padding:34px 40px;
  }
  .big-card__text{
    max-width: 358px;
  }
  .card{
    padding: 35px 40px;
  }
  .card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .card__text{
    max-width: 460px;
    font-weight: 400;
font-size: 16px;
line-height: 32px;
  }
  .card__image{
    margin-right: 16px;
  }
  .how-we-work{
    margin-bottom: 49px;
  }
  .how-we-work__title{
    margin-bottom: 45px;
  }
  .how-we-work__steps-list{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .step-number{
    margin: 0;
  }
  .step{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .step__image{
    margin-bottom: 35px;
  }
  .step__disc{
    max-width: unset;
    width: 100%;
  }
  .quest__title{
    max-width: 570px;
  }
  .footer{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__links{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;

  }
  .links{
    display: none;
  }
  .form{
    margin-left: 0;
    margin-bottom: 50px;
  }
  .form__title{
    font-size:calc(24px + 24 * ((100vw - 320px) / (768 - 320)));
  }
}
@media(max-width: 530px){
  .swiper__title{
    margin-top: 100px;
    font-size:calc(20px + 30 * ((100vw - 320px) / (768 - 320)));
    line-height:calc(24px + 37 * ((100vw - 320px) / (768 - 320)));
  }
  .swiper__text{
    font-size:calc(12px + 5 * ((100vw - 320px) / (768 - 320)));
    line-height:calc(15px + 7 * ((100vw - 320px) / (768 - 320)));
  }
  .big-card__disc{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-card__button{
    margin-top: 10px;
  }
  .form__submit{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__image{
    margin: 0;
  }
  .btn-dark{
    margin-top: 10px;
  }
}
@media (max-width: 320px){
  .main{
    margin-bottom: 60px;
  }
  .continer{
    max-width: 290px;
  }
  .header{
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .header__logo svg{
    width: 110px;
  }
  .search--active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .header__element{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: right;
  }
  .hero{
    margin-bottom: 56px;
  }
  .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
  }
  .swiper__img{
    height: 308px;
    border-radius: 16px;
  }
  .swiper__title{
    margin-top: 60px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .swiper__disc{
    margin-top: 6px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .swiper__text{
    padding: 0 21px;
    text-align: center;
  }
  .swiper__button{
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 28px;
  }
  .title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .btn{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .about-us{
    margin-bottom: 61px;
  }
  .about-us__content{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .big-card{
    background: url("/img/big-cardx320.png") no-repeat;
    border-radius: 16px;
    height: 400px;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-card::before{
    content: "";
    display: block;
    width: 290px;
    height: 200px;
  }
  .big-card__disc{
    background: none;
    padding: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .big-card__text{
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
  }
  .big-card__button{
    color: var(--orange);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding:12px 44px;
    margin-top: 12px;
  }
  .big-card__button:hover,
  .big-card__button:focus,
  .big-card__button:active{
    color: var(--white);
  }
  .card{
    border: 0;
    padding: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .card__image{
    display: none;
  }
  .card__image320{
    display: block;
    margin-bottom: 12px;
  }
  .card__disc{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  .how-we-work{
    margin-bottom: 60px;
  }
  
  .how-we-work__title{
    margin-bottom: 20px;
  }
  .how-we-work__steps{
    margin-bottom: 16px;
  }
  .step-number{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .step__image{
    margin-bottom: 11px;
  }
  .step__title{
    font-weight: 500;
font-size: 18px;
line-height: 32px;
  }
  .step__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
 
  .step__button{
    padding: 12px 44px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    margin-right: 0;
    border-radius: 8px;
  }
  .step__button:last-child{
    padding: 12px 32px;
  }
  .faq__title{
    margin-bottom: 16px;
  }
  .quest{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .quest__title{
    max-width: 245px;
  }
  .quest__button{
    width: 30px;
    height: 30px;
  }
  .quest__button::after,.quest__button::before{
    width: 18.6px;
  }
  .footer{
    padding:31px 15px ;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__links{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social{
    height: 40px;
    width: 40px;
    margin-right: 16px;
  }
  .footer__logo{
    width: 131px;
    height: 49px;
    margin: 0;
  }
  .form{
    border-bottom: 1px solid var(--grey-three);
    padding-bottom: 13px;
    margin-bottom: 16px;
  }
  .form__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }
  ::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }
  .footer__btn{
    padding: 12px 28px;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  .form__field:nth-child(3) {
    margin-bottom: 26px;
  }
  .agree{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .social{
  }
}